<a href="https://colab.research.google.com/github/Joez93/Joez93.github.io/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this assignment in, make sure everything runs as expected. 

You can either **restart the kernel** (in the menu bar, select Kernel $\rightarrow$ Restart and Clear Output) and then **run all cells** (in the menu bar, select Cell $\rightarrow$ Run All). 
Or, you can simply **clear the output for all cells** (in the menu bar, select Cell $\rightarrow$ All Output $\rightarrow$ Clear) and then **run all cells** (in the menu bar, select Cell $\rightarrow$ Run All).

---

In [0]:
NAME = "joe"
COLLABORATORS = "                   
"

# Assignment 1 - Intro to Python

(15 points)

## Learning Outcomes

In this assignment you will practice:

- Basic Python syntax
- Writing simple Python functions
- Working with strings and dictionaries

## Question #1: Count symbols

(3 points)

In this question, you are given a string `s` which represents a DNA string. The string `s` consists of symbols `'A', 'C', 'G',` and `'T'`. An example of a length 21 DNA string is `"ATGCTTCAGAAAGGTCTTACG."` 

Your task is to write a code which will count the number of times each of the symbols `'A', 'C', 'G'`, and `'T'` occur in `s`. Your code should generate a **list of 4 integers** and **print it out**.

In [0]:
# Here is the DNA string:

s = 'AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'

In [14]:
#Count number of symbol "A"
Count_A = s.count("A") 
print("The number of symbol 'A' occured is "+str(Count_A))
#Count number of symbol "C"
Count_C = s.count("C") 
print("The number of symbol 'C' occured is "+str(Count_C))
#Count number of symbol "G"
Count_G = s.count("G") 
print("The number of symbol 'G' occured is "+str(Count_G))
#Count number of symbol "T"
Count_T = s.count("T") 
print("The number of symbol 'T' occured is "+str(Count_T))

The number of symbol 'A' occured is 20
The number of symbol 'C' occured is 12
The number of symbol 'G' occured is 17
The number of symbol 'T' occured is 21

## Question #2: Find a substring

(4 points)

You are given a dictionary of the US states and their capitals. The keys in the dictionary are states and the values are capital names.

Write a code to return a **list of all capitals** that contain the name of a state in their name as a substring.

**HINT:** For example, `Indianapolis` as a capital name and `Indiana` as a state name is one of the key/value pairs that your code would find. Your code should add `Indianapolis` to the list. After you found all capitals and added them to the list, print out the list.

In [2]:
# Run this cell to create a dictionary of states' capitals
capitals={
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona':'Phoenix',
    'Arkansas':'Little Rock',
    'California': 'Sacramento',
    'Colorado':'Denver',
    'Connecticut':'Hartford',
    'Delaware':'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
    'Hawaii': 'Honolulu',
    'Idaho': 'Boise',
    'Illinios': 'Springfield',
    'Indiana': 'Indianapolis',
    'Iowa': 'Des Monies',
    'Kansas': 'Topeka',
    'Kentucky': 'Frankfort',
    'Louisiana': 'Baton Rouge',
    'Maine': 'Augusta',
    'Maryland': 'Annapolis',
    'Massachusetts': 'Boston',
    'Michigan': 'Lansing',
    'Minnesota': 'St. Paul',
    'Mississippi': 'Jackson',
    'Missouri': 'Jefferson City',
    'Montana': 'Helena',
    'Nebraska': 'Lincoln',
    'Neveda': 'Carson City',
    'New Hampshire': 'Concord',
    'New Jersey': 'Trenton',
    'New Mexico': 'Santa Fe',
    'New York': 'Albany',
    'North Carolina': 'Raleigh',
    'North Dakota': 'Bismarck',
    'Ohio': 'Columbus',
    'Oklahoma': 'Oklahoma City',
    'Oregon': 'Salem',
    'Pennsylvania': 'Harrisburg',
    'Rhoda Island': 'Providence',
    'South Carolina': 'Columbia',
    'South Dakota': 'Pierre',
    'Tennessee': 'Nashville',
    'Texas': 'Austin',
    'Utah': 'Salt Lake City',
    'Vermont': 'Montpelier',
    'Virginia': 'Richmond',
    'Washington': 'Olympia',
    'West Virginia': 'Charleston',
    'Wisconsin': 'Madison',
    'Wyoming': 'Cheyenne'  
}
capitals

{'Alabama': 'Montgomery',
 'Alaska': 'Juneau',
 'Arizona': 'Phoenix',
 'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Colorado': 'Denver',
 'Connecticut': 'Hartford',
 'Delaware': 'Dover',
 'Florida': 'Tallahassee',
 'Georgia': 'Atlanta',
 'Hawaii': 'Honolulu',
 'Idaho': 'Boise',
 'Illinios': 'Springfield',
 'Indiana': 'Indianapolis',
 'Iowa': 'Des Monies',
 'Kansas': 'Topeka',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Maine': 'Augusta',
 'Maryland': 'Annapolis',
 'Massachusetts': 'Boston',
 'Michigan': 'Lansing',
 'Minnesota': 'St. Paul',
 'Mississippi': 'Jackson',
 'Missouri': 'Jefferson City',
 'Montana': 'Helena',
 'Nebraska': 'Lincoln',
 'Neveda': 'Carson City',
 'New Hampshire': 'Concord',
 'New Jersey': 'Trenton',
 'New Mexico': 'Santa Fe',
 'New York': 'Albany',
 'North Carolina': 'Raleigh',
 'North Dakota': 'Bismarck',
 'Ohio': 'Columbus',
 'Oklahoma': 'Oklahoma City',
 'Oregon': 'Salem',
 'Pennsylvania': 'Harrisburg',
 'Rhoda Island': 'Providence',
 'South Carolina': 'Columbia',
 'South Dakota': 'Pierre',
 'Tennessee': 'Nashville',
 'Texas': 'Austin',
 'Utah': 'Salt Lake City',
 'Vermont': 'Montpelier',
 'Virginia': 'Richmond',
 'Washington': 'Olympia',
 'West Virginia': 'Charleston',
 'Wisconsin': 'Madison',
 'Wyoming': 'Cheyenne'}

In [0]:
def duplicate(capitals):
  duplist = []
  for state in capitals:
    if state in capitals[state]:
      duplist.append(capitals[state])
  return(duplist)
duplicate(capitals)

## Question #3: Is a data point within a rectangle?

(4 points)

Write a function `isIn()` which returns **boolean `True`** if a point is within a rectangle specified by two sets of coordinates and **boolean `False`** if the point is outside the rectangle. The function should accept three parameters:
- the first parameter is a set of coordinates which defines one of the corners of the rectangle, 
- the second parameter is also a set of coordinates that defines the second corner,
- the third set of coordinates defines a single point which is being tested.

For example, 
- `isIn((1,2), (3,4), (1.5, 3.2))` should return `True`, 
- `isIn((4,3.5), (2,1), (3, 2))` should return `True`, 
- `isIn((-1,0), (5,5), (6,0))` should return `False`,
- `isIn((4,1), (2,4), (2.5,4.5))` should return `False`.

Test your function with at least 2 different sets of data points in addition to the examples above.

**NOTES:** 
1. If the point being tested is on the side of the rectangle, consider it to be within the rectangle. For example, if the rectangle is defined as `(1,2), (3,4)` and the point is `(2,2)`, the function should return `True`.
2. In this assignment, we assume that the edges of the rectangle are parallel to coordinate axes.
3. We also assume that the first parameter does not always represent the left corner of the rectangle and the second parameter is not always the right corner. The function should work correctly either way. Please note the second test condition above where the first parameter, `(4,3.5)`, represents the top-right corner and the second parameter, `(2,1)`, represents left-bottom corner.

In [114]:
def isIn(firstCorner=(0,0), secondCorner=(0,0), point=(0,0)):
  minimum_x = min(firstCorner[0], secondCorner[0])
  maximum_x = max(firstCorner[0], secondCorner[0])
  minimum_y = min(firstCorner[1], secondCorner[1])
  maximum_y = max(firstCorner[1], secondCorner[1])
  if point[0] >= minimum_x and point[0] <= maximum_x and point[1] >= minimum_y and point[1] <= maximum_y:
    return True   
  return False

isIn((1,2), (3,4), (1.5, 3.2))

True

In [113]:
isIn((4,3.5), (2,1), (3, 2))

True

In [102]:
isIn((-1,0), (5,5), (6,0))

False

In [100]:
isIn((4,1), (2,4), (2.5,4.5))

False

## Question #4: Are all points within a rectangle?

(4 points)

Modify your function from the previous question so it takes a list of points rather than a single point and returns **boolean `True`** only if all points in the list are in the rectangle.

For example,

- `allIn((0,0), (5,5), [(1,1), (0,0), (5,5)])` should return `True`
- but `allIn((0,0), (5,5), [(1,1), (0,0), (5,6)])` should return `False`
- empty list of points `allIn((0,0), (5,5), [])` should return `False`

Use the same assumptions as above about the placement of the points and how rectangle is defined. Make sure that your function returns `False` for empty list of points (no values).

Test your function with at least 3 different sets of data points.

In [0]:
def allIn(firstCorner=(0,0), secondCorner=(0,0), pointList=[]):
  if pointList == []:
    return False;
  minimum_x = min(firstCorner[0], secondCorner[0])
  maximum_x = max(firstCorner[0], secondCorner[0])
  minimum_y = min(firstCorner[1], secondCorner[1])
  maximum_y = max(firstCorner[1], secondCorner[1])
  for point in pointList:
    if point[0] >= minimum_x and point[0] <= maximum_x and point[1] >= minimum_y and point[1] <= maximum_y:
      continue
    else:
      return False
  return True

In [146]:
allIn((0,0), (5,5), [(1,1), (0,0), (5,5)])

True

In [147]:
allIn((0,0), (5,5), [(1,1), (0,0), (5,6)])

False

In [148]:
allIn((0,0), (5,5), [])

False